
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Meow+Script&display=swap');
body {
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,b {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}
#navBar {
    transition: .3s;
}
.kgk-link {
    display: inline-block;
    position: relative;
    color: black;
}
.kgk-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0d6efd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.kgk-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.kgk-link.active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0d6efd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
}
#portfolio img {
    width: 100%;
    transition: 0.3s;
}
#portfolio img:hover {
    transform: scale(1.05);
}
.navblur {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}
#skills #skill-card {
    transition: .3s;
}
#skills #skill-card:hover img {
    filter: invert(100%);
}
footer a:hover i {
    color: gray;
}